@model Diary_Proj.Models.NoteViewModel

@{
    ViewData["Title"] = "Create";
}

<h4 class="text-success">Create Note</h4>
<hr />
<div class="container col-md-7">
    <div class="card m-3 border border-success">
        <form asp-action="Create" enctype="multipart/form-data" class="m-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group card-header bg-success">
                <h3 class="control-label text-white">Title</h3>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group card-text">
                <span class="control-label text-info">Text</span>
                <textarea name="Text" class="form-control" rows="7"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>

            <div class="form-group card-text">
                <span class="control-label text-info" style="font-family:Verdana">Pick day</span>
                <input asp-for="Date_FK" type="date" class="form-control" />
                <span asp-validation-for="Date_FK" class="text-danger"></span>
            </div>


            <div class="form-group card-text">
                <span class="control-label text-info">Task Start At</span>
                <input type="time" name="StartAt" class="form-control" />
                <span asp-validation-for="StartAt" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Pic" class="control-label text-info"></label>
                <div class="col-sm-10">

                    <input asp-for="Pic" type="file" class="custom-file-input form-control">
                    <label class="custom-file-label">Choose file ...</label>
                    <span asp-validation-for="Pic" class="text-danger"></span>

                </div>
                <a href="#" class="text-danger col-sm-2" id="rmvPic">Remove Imge</a>    

            </div>

            <div class="form-group">
                <input type="submit" value="Save Note" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    console.log('Create loaded');
    var file = document.querySelector('.custom-file-input');
    var fileLabel = document.querySelector('.custom-file-label');
    var remvBtn = document.querySelector('#rmvPic');
    remvBtn.style.visibility = "hidden";

    remvBtn.addEventListener('click', () => {
        file.value = "";
        fileLabel.textContent = "";
    });

    file.addEventListener('change', (e) => {
        console.log('changed');
        console.log(e);
        if (e != null) {
            var name = e.srcElement.files[0].name;

            fileLabel.textContent = name;
            console.log(name);
            remvBtn.style.visibility = "visible";
        }
    });
</script>
}
