@model Diary_Proj.Models.NoteViewModel

@{
    ViewData["Title"] = "Edit";
}

<h4 class="text-success">Edit Note</h4>
<hr />
<div class="container col-md-7">
    <div class="card m-3 border border-success">
        <form asp-action="Edit" enctype="multipart/form-data" class="m-2">
            <input type="hidden" asp-for="ID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group card-header bg-success">
                <h3 class="control-label text-white">Title</h3>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group card-text">
                <span class="control-label text-info">Text</span>
                <textarea name="Text" class="form-control" rows="7">@Model.Text</textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>

            <div class="form-group card-text">
                <span class="control-label text-info" style="font-family:Verdana">Pick day</span>
                <input asp-for="Date_FK" type="date" class="form-control" />
                <span asp-validation-for="Date_FK" class="text-danger"></span>
            </div>


            <div class="form-group card-text">
                <span class="control-label text-info">Time Over on</span>
                <input type="time" name="StartAt" class="form-control" value="@Model.StartAt"/>
                <span asp-validation-for="StartAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<h5 class="control-label text-info">Attatch Image</h5>
                    <input asp-for="Pic" type="file" class="form-control custom-file-input" />
                    <span asp-validation-for="Pic" class="text-danger"></span>*@

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input asp-for="Pic" type="file" class="custom-file-input form-control">
                        <label class="custom-file-label">Choose file</label>
                        <span asp-validation-for="Pic" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <input type="submit" value="Save Note" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
